<div ng-controller="dpDeployCtrl">

    <div id="navbar-main">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><i class="fa fa-location-arrow"></i> Web DP</a></div>
                <!--<div class="navbar-collapse collapse">-->
            </div>
        </div>
    </div>

    <div id="webdp" name="webdp">
        <div class="row white">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="#status" data-toggle="tab">
                        <img class="img-responsive" src="dist/img/monitor_focus.png" align="">
                        Status
                    </a></li>
                    <li class="active show"><a href="#deploy" data-toggle="tab">
                        <img class="img-responsive" src="dist/img/console_focus.png" align="">
                        Deploy
                    </a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active ">
                        <div class="col-md-16">
                            <form id="dpform" method="post" class="form" role="form">
                                <table class="table" width="100%">
                                    <tbody align="center">
                                    <tr>
                                        <td>DP</td>
                                        <td><select class="form-control" ng-model="seldp">
                                            <option  data-ng-repeat="dp in dplist" value="{{dp.dpname}}" ng-selected="seldp==dp.dpname">{{dp.dpname}}</option>
                                        </select>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>Profile</td>
                                        <td><select class="form-control" ng-model="selprofile">
                                            <option  data-ng-repeat="profile in profilelist" value="{{profile.profilename}}" ng-selected="selprofile==profile.profilename">{{profile.profilename}}</option>
                                        </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <button class="btn btn btn-lg" type="submit" ng-click="deploy()">Deploy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

